$red: red;
$blue: blue;

*{
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
}
p.media {
  color: $blue;
}

div.animation {
    border: $red solid 2px;
    width: 30%;
    background: #be737a;
    color: #000000;
    position: relative;
    left: 0;
    //transition-property: background-color, color;
    //transition-duration: 2s, 4s;
    transition: background-color 2s ease 200ms, color 4s ease 1s, width 5s ease, left 3s ease;

    &:hover {
      background-color: #94be38;
      color: $blue;
      left: 70%;
    }
  }


header{
  div.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  padding: 10px;
  background-color: #000000;
  .menu{
    display: flex;
    align-items: center;
  }
  ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li{
      &:hover{
        color: #5859ff;
        cursor: pointer;
      }
      display: inline;
      font-size: 1.3em;
      color: #faffff;
    }
    li:not(:last-child){
      margin-right: 15px;
    }
  }
  div > img{
    width: 100px;
    height: auto;
    margin: 10px;
  }
}




@media screen and (max-width: 567px){
  div.wrapper{
    flex-direction: column;
    align-items: center !important;
  }
}

@media screen and (max-width: 380px) {
  div.wrapper{
    flex-direction: column;
    align-items: center !important;
    ul {
      flex-wrap: wrap;
    }
  }
}

  @media screen and (max-width: 900px) {
    p.media {
      color: black;
    }
  }
  @media screen and (max-width: 480px) {
    p.media {
      color: $red;
    }
  }

